html,
body {
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	}
 
#site-body-container {}
 
#site-body-content {
	padding: 15px 15px 15px 15px ;
	}
 
#site-bottom-bar {
	background-color: #F0F0F0 ;
	opacity: 0.8;
	filter:alpha(opacity=80);
	/*border-top: 1px solid #CCCCCC ;*/
	bottom: 0px ;
	font-family: verdana, arial ;
	font-size: 11px ;
	height: 30px ;
	position: fixed ;
	width: inherit ;
	z-index: 1000 ;
	}
 
#site-bottom-bar-frame {
	height: 30px ;
	margin: 0px 10px 0px 10px ;
	position: relative ;
	}
 
#site-bottom-bar-content1 {
	padding: 3px 0px 0px 0px ;
	}
 
.menu-root {
	background-color: #FFE328 ;
	border: 1px solid #D0D0D0 ;
	color: #000000 ;
	display: block ;
	height: 22px ;
	line-height: 22px ;
	text-align: center ;
	text-decoration: none ;
	width: 105px ;
	float:right;
	top: -18px;
	position:relative;
	}
 
.menu-root:hover {
	background-color: #DDC20A ;
	border-color: #000000 ;
	color: #FFFFFF ;
	}
 
#menu {
	background-color: #E8E8E8 ;
	border: 1px solid #666666 ;
	bottom: 32px ;
	display: none ;
	left: 0px ;
	padding: 5px 5px 1px 5px ;
	position: absolute ;
	width: 200px ;
	}
 
#menu a {
	background-color: #E8E8E8 ;
	border: 1px solid #FFFFFF ;
	color: #000000 ;
	display: block ;
	margin-bottom: 4px ;
	padding: 5px 0px 5px 5px ;
	text-decoration: none ;
	}
 
#menu a:hover {
	background-color: #666666 ;
	border-color: #000000 ;
	color: #FFFFFF ;
	}
 
/* -------------------------------------------------- */
/* -- IE 6 FIXED POSITION HACK ---------------------- */
/* -------------------------------------------------- */
 
html,
body,
#site-body-container {
	_height: 100% ;
	_overflow: hidden ;
	_width: 100% ;
	}
 
#site-body-container {
	_overflow-y: scroll ;
	_overflow-x: hidden ;
	_position: relative ;
	}
 
/* To make up for scroll-bar. */
#site-bottom-bar {
	_bottom: -1px ;
	_position: absolute ;
	_right: 16px ;
	}
#site-bottom-bar.hide 
{
	display:none;
}
/* To make up for overflow left. */
#site-bottom-bar-frame {
	_margin-left: 26px ;
	}
 
/* To fix IE6 display bugs. */
#menu a {
	_display: inline-block ;
	_width: 99% ;
	}
 
