/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

div .suckerdiv{
	padding-top: 10px;
	padding-left: 20px;
}

div .suckerdiv.filter 
{
	background-color:#F5F1E7; 
	margin-left:20px; 
	width:190px; 
	height:14px; 
	padding-top: 0px;
	padding-left: 0px; 
}
div .suckerdiv label 
{
	font-weight: bold;
}
.suckerdiv ul{
margin: 0;
padding: 0;
list-style-type: none;
width: 160px; /* Width of Menu Items */
border-bottom: 1px solid #ccc;
z-index:9999; 
}
	
.suckerdiv ul li{
position: relative;
}
	
/*Sub level menu items */
.suckerdiv ul li ul{
position: absolute;
width: 170px; /*sub menu width*/
top: 0;
visibility: hidden;
}

/* Sub level menu links style */
.suckerdiv ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: black;
text-decoration: none;
background-color: #f2f2f2;
padding: 1px 5px;
border: 1px solid #ccc;
border-bottom: 0;
}

.suckerdiv ul li a:visited{
color: black;
}

.suckerdiv ul li a:hover{
background-color: #fcff75;
}

.suckerdiv .subfolderstyle{
background: url(images/recorte_grande.png) no-repeat center right;
background-color: #f2f2f2;
}

	
/* Holly Hack for IE \*/
* html .suckerdiv ul li { float: left; height: 1%; }
* html .suckerdiv ul li a { height: 1%; }
/* End */
